In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import bnlearn as bn

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv('dataset.csv')

train['Passenger ID'] = train.index

# Atau, tambahkan kolom "Passenger ID" dengan nilai unik (misalnya, nomor urut)
train['Passenger ID'] = range(1, len(train) + 1)

cols = list(train.columns)
cols = ['Passenger ID'] + [col for col in cols if col != 'Passenger ID']
train = train[cols]

train.set_index('Passenger ID', inplace=True)

# Tampilkan trainFrame
train

,Nama Wisata,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,...,Aktivitas Wisata,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
Passenger ID,,,,,,,,,,,,,,,,,,,,,
1,Tunjungan Plaza,1,1,1,1,1,1,1,1,1,...,"Makan Bersama, Berolahraga, Mengambil Foto, Be...",1,1,0,0,1,1,0,0,1
2,Tunjungan Plaza,1,1,1,1,1,1,1,0,0,...,"Makan Bersama, Mengambil Foto, Beribadah, Berb...",1,0,0,0,1,1,0,0,1
3,Tunjungan Plaza,1,0,1,1,1,1,1,0,0,...,"Makan Bersama, Belajar, Mengambil Foto, Berbel...",1,0,1,0,1,0,0,0,1
4,Tunjungan Plaza,1,1,1,1,0,0,1,1,1,...,"Makan Bersama, Mengambil Foto, Berbelanja",1,0,0,0,1,0,0,0,1
5,Tunjungan Plaza,1,1,1,1,0,1,1,0,0,...,"Makan Bersama, Berolahraga, Mengambil Foto, Be...",1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346,Balai Pemuda Alun - Alun Surabaya,1,0,1,1,0,1,1,1,0,...,"Berolahraga, Belajar, Mengambil Foto",0,1,1,0,1,0,0,0,0
1347,Balai Pemuda Alun - Alun Surabaya,1,1,1,1,0,1,1,1,1,...,"Berolahraga, Belajar, Mengambil Foto",0,1,1,0,1,0,0,0,0
1348,Balai Pemuda Alun - Alun Surabaya,1,1,1,0,1,1,1,1,1,...,"Makan, Berolahraga, Belajar, Mengambil Foto, M...",1,1,1,0,1,0,0,1,1
1349,Balai Pemuda Alun - Alun Surabaya,1,1,1,1,0,1,1,1,1,...,"Makan, Berolahraga, Mengambil Foto, Melihat Pe...",1,1,0,0,1,0,0,1,1
1350,Balai Pemuda Alun - Alun Surabaya,1,1,1,1,0,1,1,1,0,...,"Makan, Berolahraga, Belajar, Mengambil Foto",1,1,1,0,1,0,0,0,0

In [3]:
test = pd.read_csv('test.csv')

test['Passenger ID'] = test.index

# Atau, tambahkan kolom "Passenger ID" dengan nilai unik (misalnya, nomor urut)
test['Passenger ID'] = range(1, len(test) + 1)

cols = list(test.columns)
cols = ['Passenger ID'] + [col for col in cols if col != 'Passenger ID']
test = test[cols]

test.set_index('Passenger ID', inplace=True)

# Tampilkan testFrame
test

,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,Wish-fulfiment,...,Aktivitas Wisata,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
Passenger ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,0,...,"Makan Bersama, Berolahraga, Mengambil Foto, Be...",1,1,0,0,1,1,0,0,1

In [4]:
train.describe()

,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,Wish-fulfiment,...,Akomodasi,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,...,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.00000,1350.000000,1350.000000,1350.000000
mean,0.893333,0.836296,0.754815,0.860000,0.408148,0.866667,0.585185,0.768889,0.562222,0.585926,...,0.520000,0.497037,0.257037,0.417037,0.062222,0.684444,0.18000,0.029630,0.318519,0.378519
std,0.308803,0.370144,0.430356,0.347116,0.491673,0.340061,0.492873,0.421700,0.496297,0.492744,...,0.499785,0.500177,0.437162,0.493252,0.241648,0.464909,0.38433,0.169626,0.466074,0.485198
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [5]:
drop_list = ['Aktivitas Wisata']

train = train.drop(columns=drop_list)

test = test.drop(columns=drop_list)

In [6]:
test

,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,Wish-fulfiment,...,Akomodasi,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
Passenger ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,0,...,1,1,1,0,0,1,1,0,0,1

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1350 entries, 1 to 1350
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Nama Wisata                  1350 non-null   object
 1   Escape                       1350 non-null   int64
 2   Relaxation                   1350 non-null   int64
 3   Play                         1350 non-null   int64
 4   Strenghthening family bonds  1350 non-null   int64
 5   Prestige                     1350 non-null   int64
 6   Social Interaction           1350 non-null   int64
 7   Romance                      1350 non-null   int64
 8   Educational Opportunity      1350 non-null   int64
 9   Self-fulfilment              1350 non-null   int64
 10  Wish-fulfiment               1350 non-null   int64
 11  Lingkungan                   1350 non-null   int64
 12  Infrastruktur                1350 non-null   int64
 13  Fasilitas                    1350 non-null   int64
 14  Akomodasi                    1350 non-null   int64
 15  Makan Bersama                1350 non-null   int64
 16  Berolahraga                  1350 non-null   int64
 17  Belajar                      1350 non-null   int64
 18  Berinteraksi dengan satwa    1350 non-null   int64
 19  Mengambil Foto               1350 non-null   int64
 20  Beribadah                    1350 non-null   int64
 21  Berkemah                     1350 non-null   int64
 22  Melihat Pemandangan          1350 non-null   int64
 23  Berbelanja                   1350 non-null   int64
dtypes: int64(23), object(1)
memory usage: 263.7+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 1 to 1
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Escape                       1 non-null      int64
 1   Relaxation                   1 non-null      int64
 2   Play                         1 non-null      int64
 3   Strenghthening family bonds  1 non-null      int64
 4   Prestige                     1 non-null      int64
 5   Social Interaction           1 non-null      int64
 6   Romance                      1 non-null      int64
 7   Educational Opportunity      1 non-null      int64
 8   Self-fulfilment              1 non-null      int64
 9   Wish-fulfiment               1 non-null      int64
 10  Lingkungan                   1 non-null      int64
 11  Infrastruktur                1 non-null      int64
 12  Fasilitas                    1 non-null      int64
 13  Akomodasi                    1 non-null      int64
 14  Makan Bersama                1 non-null      int64
 15  Berolahraga                  1 non-null      int64
 16  Belajar                      1 non-null      int64
 17  Berinteraksi dengan satwa    1 non-null      int64
 18  Mengambil Foto               1 non-null      int64
 19  Beribadah                    1 non-null      int64
 20  Berkemah                     1 non-null      int64
 21  Melihat Pemandangan          1 non-null      int64
 22  Berbelanja                   1 non-null      int64
dtypes: int64(23)
memory usage: 192.0 bytes

In [9]:
# Data preparing
dfhot_train, dfnum_train = bn.df2onehot(train)

dfnum_test = test

[df2onehot] >Auto detecting dtypes.

 33%|███▎      | 8/24 [00:00<00:00, 77.05it/s]

100%|██████████| 24/24 [00:00<00:00, 63.77it/s]

[df2onehot] >Set dtypes in dataframe..

[df2onehot]: 100%|██████████| 24/24 [00:00<00:00, 143.06it/s]

[df2onehot] >Total onehot features: 73

In [10]:
dfnum_train

,Nama Wisata,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,...,Akomodasi,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
0,27,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,1,1,0,0,1
1,27,1,1,1,1,1,1,1,0,0,...,1,1,0,0,0,1,1,0,0,1
2,27,1,0,1,1,1,1,1,0,0,...,1,1,0,1,0,1,0,0,0,1
3,27,1,1,1,1,0,0,1,1,1,...,1,1,0,0,0,1,0,0,0,1
4,27,1,1,1,1,0,1,1,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,1,0,1,1,0,1,1,1,0,...,0,0,1,1,0,1,0,0,0,0
1346,1,1,1,1,1,0,1,1,1,1,...,0,0,1,1,0,1,0,0,0,0
1347,1,1,1,1,0,1,1,1,1,1,...,0,1,1,1,0,1,0,0,1,1
1348,1,1,1,1,1,0,1,1,1,1,...,0,1,1,0,0,1,0,0,1,1
1349,1,1,1,1,1,0,1,1,1,0,...,1,1,1,1,0,1,0,0,0,0

In [11]:
dfnum_test

,Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,Wish-fulfiment,...,Akomodasi,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
Passenger ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,0,...,1,1,1,0,0,1,1,0,0,1

In [14]:
# model 2

# Structure learning with methode type ex
DAG = bn.structure_learning.fit(dfnum_train, methodtype='cs', root_node='Nama Wisata', bw_list_method='nodes', verbose=3)

DAG = bn.independence_test(DAG, dfnum_train, prune=False)
# Ploth
G = bn.plot(DAG)

# Parameter learning
model = bn.parameter_learning.fit(DAG, dfnum_train, verbose=3);

[bnlearn] >Computing best DAG using [cs]

  0%|          | 0/5 [00:00<?, ?it/s]

KeyboardInterrupt:

In [ ]:
# buat evidence seperti ini 
# Escape,Relaxation,Play,Strenghthening family bonds,Prestige,Social Interaction,Romance,Educational Opportunity,Self-fulfilment,Wish-fulfiment,Lingkungan,Infrastruktur,Fasilitas,Akomodasi,Makan Bersama,Berolahraga,Belajar,Berinteraksi dengan satwa,Mengambil Foto,Beribadah,Berkemah,Melihat Pemandangan,Berbelanja
# 1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,0,0,1

evidence = {
    'Escape': 1,
    'Relaxation': 1,
    'Play': 1,
    'Strenghthening family bonds': 1,
    'Prestige': 0,
    'Social Interaction': 1,
    'Romance': 0,
    'Educational Opportunity': 0,
    'Self-fulfilment': 1,
    'Wish-fulfiment': 0,
    'Lingkungan': 1,
    'Infrastruktur': 0,
    'Fasilitas': 1,
    'Akomodasi': 1,
    'Makan Bersama': 1,
    'Berolahraga': 1,
    'Belajar': 0,
    'Berinteraksi dengan satwa': 0,
    'Mengambil Foto': 1,
    'Beribadah': 1,
    'Berkemah': 0,
    'Melihat Pemandangan': 0,
    'Berbelanja': 1
}

In [ ]:
query = bn.inference.fit(model, variables=['Nama Wisata'], evidence=evidence, verbose=3)
query.df

NameError: name 'model' is not defined

In [ ]:
# change Nama Wisata dari angka ke nama

query.df['Nama Wisata'] = {
    0: "Balai Pemuda Alun - Alun Surabaya",
    1: "Galaxy Mall Surabaya",
    2: "House of Sampoerna",
    3: "Jalan Tunjungan",
    4: "Jatim International Expo (JIE) Convention Exhibiton",
    5: "Kampung Lawas Maspati",
    6: "Kampung Pecinaan Kapasan Dalam",
    7: "Kebun Binatang Surabaya",
    8: "Kebun Raya Mangrove Gunung Anyar",
    9: "Kodam Street Food Surabaya",
    10: "Kuliner Pecinan Kembang Jepun",
    11: "Makam Sunan Ampel",
    12: "Masjid Cheng Ho",
    13: "Masjid Nasional Al Akbar",
    14: "Mirota Batik & Handicraft",
    15: "Monumen Tugu Pahlawan",
    16: "Monumen Kapal Selam",
    17: "Museum Pendidikan Surabaya",
    18: "Museum Surabaya Gedung Siola",
    19: "Pasar Genteng",
    20: "Pasar Pabean",
    21: "Pusat Olahraga KONI",
    22: "Stadion Gelora Bung Tomo",
    23: "Surabaya Convention Center",
    24: "Taman Bungkul",
    25: "Taman Suroboyo",
    26: "Tunjungan Plaza"
}

query.df

                                          Nama Wisata         p
0                   Balai Pemuda Alun - Alun Surabaya  0.040407
1                                Galaxy Mall Surabaya  0.053898
2                                  House of Sampoerna  0.025918
3                                     Jalan Tunjungan  0.037850
4   Jatim International Expo (JIE) Convention Exhi...  0.033275
5                               Kampung Lawas Maspati  0.025443
6                      Kampung Pecinaan Kapasan Dalam  0.007774
7                             Kebun Binatang Surabaya  0.011395
8                    Kebun Raya Mangrove Gunung Anyar  0.008746
9                          Kodam Street Food Surabaya  0.029160
10                      Kuliner Pecinan Kembang Jepun  0.050692
11                                  Makam Sunan Ampel  0.046284
12                                    Masjid Cheng Ho  0.054890
13                           Masjid Nasional Al Akbar  0.064609
14                          Mirota Batik & Handicraft  0.020139
15                              Monumen Tugu Pahlawan  0.012320
16                                Monumen Kapal Selam  0.033698
17                         Museum Pendidikan Surabaya  0.010200
18                       Museum Surabaya Gedung Siola  0.014287
19                                      Pasar Genteng  0.086799
20                                       Pasar Pabean  0.106713
21                                Pusat Olahraga KONI  0.077080
22                           Stadion Gelora Bung Tomo  0.049751
23                         Surabaya Convention Center  0.015563
24                                      Taman Bungkul  0.027740
25                                     Taman Suroboyo  0.017321
26                                    Tunjungan Plaza  0.038049